*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --color-background: #fff;
    --color-text: #333;
}

body.dark-mode {
    --color-background: #333;
    --color-text: #fff;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    min-height: 100vh;
    line-height: 1.5;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 0vh;
    display: none;
}

.MainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.Logo>img {
    content: url("../resources/Logo/transparent/long_light.png");
}

.MainPage>p {
    font-size: 50px;
    font-family: "Noto Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }
    .Logo>img {
        content: url("../resources/Logo/transparent/long_dark.png");
    }
}

