*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --color-light: #cccccc;
    --color-dark: #0f0e14;
    --color-footer: #8686867e;
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    font-family: "hackbold_oblique", "Noto Sans", sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    min-height: 100vh;
    line-height: 1.5;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;
}

footer {
    background-color: var(--color-footer);
    margin-top: 2dvh;
}

.MainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90vw;
}

.Logo>img {
    content: url("../resources/Logo/transparent/long_light.png");
}

.MainPage>.Title_tag {
    font-size: 50px;
}

.Charms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.Charms>img {
    width: 60px;
    height: 60px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-dark);
        color: var(--color-light);
    }
    .Logo>img {
        content: url("../resources/Logo/transparent/long_dark.png");
    }
}

@media only screen and (max-width: 600px) {
    .MainPage>.Title_tag {
        font-size: 25px;
    }
    .Charms>img {
        width: 30px;
        height: 30px;
    }
    .Projects>div>a>img {
        max-width: 400px !important;
        max-height: 300px;
    }
    body {
        min-width: 400px;
    }
}

header {
    display: contents;
}

.Projects>div>a {
    margin-top: 2dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Projects>div>a>img {
    border-radius: 15px;
    margin-top: 2dvh;
    max-width: 600px;
    max-height: 600px;
}
